@charset "utf-8";
/* CSS Document */

.btnMore {
	width: 70px;
	height: 67px;
	background-image: url("images/btn_plus.png")
} .btnMore:active {
	position: relative;
	top: 2px;
}

.displayName {
	margin-bottom: 20px;
}

.form {
}

.newAccountItem {
	margin: 10px 0;
}

.createAccount {
	//display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.createAccountBg {
	margin-top: 20px;
	display: inline-block;
	background-color: #6d909c;
	padding: 15px;
	border-radius: 10px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
}

.captcha {
	margin-top: 25px;
	display: inline-block;
	height: 100px;
	width: 300px;
	background-color: #fff;
	border-radius: 10px;
}

.createAccountMessage {
	/*position: absolute;
	right: 40px;
	top: 20px;
	width: 250px;
	*/
	margin-top: 10px;
	//display: none;
}

.createAccountMessageBg {
	display: inline-block;
	background-color: #F73F2B;
	padding: 15px;
	border-radius: 10px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
}


.createAccountInput {
	border: 1px solid #334452;
	padding: 4px;
	-webkit-box-shadow: inset 0 1px 0 #eee,
		#fff 0 1px 0;
	font-size: 20px;
	width: 300px;
	height: 30px;
}

#recaptcha_image img {
    width: 300px !important;    
    height:100px !important;
    border-radius: 10px;
}
