@charset "utf-8";
/* CSS Document */
.hud {
	background-color: #222;
	position: absolute;
	width: 960px;
	height: 640px;
}

.hud_food {
	position: absolute;
	top: 5px;
	left: 5px;
	vertical-align: top;
	display: inline-block;
	width: 219px;
	height: 69px;
	background-image:url(images/food_hud.png);
}

.unitNameBg {
	position: relative;
	width: 311px;
	height: 40px;
	background-image:url(images/bgNameHud.png);
}

.unitName {
	position: absolute;
	left: 50px;
	top: 4px;
	font-size: 28px;
}

.smallInfoButton {
	position: absolute;
	left: 5px;
	top: 6px;
	width: 31px;
	height: 30px;
	background-image:url(images/smallInfoButton.png);
}

.unitStats {
	position: absolute;
	bottom: 0px;
	left: 10px;
}

.hudButton {
	display: inline-block;
	width: 70px;
	height: 67px;
}

.foodValue {
	font-size: 48px;
	text-align: right;
	padding: 5px;
	padding-right: 10px;
}

.hudButtons {
	position: absolute;
	right: 5px;
	top: 5px;
}

.btnSpellbook {
	background-image:url(images/btn_spellbook_small.png);
}

.btnPause {
	background-image:url(images/btn_pause.png);
}

.btnEndTurn {
	background-image:url(images/btn_endTurn.png);
}

.unitStatHud {
//	margin: 0px 15px;
}
.unitSelectorBg {
	display: inline-block;
	position: absolute;
	top: 125px;
	width: 960px;
	height: 200px;
	background-image: url("images/dropShadow_top.png");
	background-repeat: repeat-x;
	background-color: #26333c;
} .btnUnit {
	display: inline-block;
	width: 150px;
	height: 150px;
	vertical-align: top;
	position: relative;
	margin: 25px 0px;
} .btnUnit:active {
	top: 2px;
} .btnUnitUnlockedBorder {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 150px;
	background-image: url("images/btn_square_blue.png");
} .btnUnitLockedBorder {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 150px;
	background-image: url("images/btn_square_1_locked.png");
} .btnUnitImage {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 100px;
	height: 100px;
} .btnUnitInfo {
	position: absolute;
	left: 96px;
	top: 0px;
	width: 50px;
	height: 50px;
	background-image: url("images/btn_info_small.png");
} .btnUnitInfo:active {
	top: 2px;
} .btnUnitCostume {
	position: absolute;
	left: 3px;
	top: 100px;
	width: 50px;
	height: 50px;
	background-image: url("images/btn_costume_small.png");
} .btnUnitCostume:active {
	top: 101px;
} .btnUnitFirst {
	margin-left: 20px;
} .btnUnitLast {
	margin-right: 20px;
} .btnUnitPrice {
	position: absolute;
	top: 95px;
	left: 29px;
	width: 90px;
	height: 28px;
} .btnUnitPriceBattleBadge {
	display: inline-block;
	background-image: url("images/icon_food.png");
	width: 23px;
	height: 28px;
	margin-left: 2px;
	padding: 0;
} .btnUnitPriceTribeToken {
	display: inline-block;
	background-image: url("images/icon_food.png");
	width: 26px;
	height: 28px;
	margin-left: 2px;
	padding: 0;
} .btnUnitPriceFood {
	width: 29px;
	height: 29px;
	background-image: url("images/icon_food_small.png");
} .btnUnitPriceValue {
	display: inline-block;
	vertical-align: top;
	text-align:right;
	font-size: 20px;
	width: 53px;
	margin-top: 2px;
	float: right;
}

.windowBack {
	position: absolute;
	left: 15px;
	top: 15px;
	width: 74px;
	height: 71px;
	background-image: url("images/btn_navBack.png");
} .trainButton {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 178px;
	height: 74px;
	background-image: url("images/btn_trainUnit.png");	
} .windowTitleNudge {
	position: absolute;
	left: 115px;
	top: 15px;
}