@charset "utf-8";
/* CSS Document */
.sectionHeaderBg {
	background-color: #40637e;
	width: 100%;
	height: 62px;
	margin-bottom: 10px;
} .sectionHeader {
	padding: 15px;
	font-size: 24px;
} .section {
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	width: 800px;
}

.btnRight {
	width: 37px;
	height: 36px;
	background-image: url("images/btn_rightArrow.png");
	position: absolute;
	right: 8px;
	bottom: 13px;
}

.btnMore {
	width: 70px;
	height: 67px;
	background-image: url("images/btn_plus.png")
} .btnMore:active {
	position: relative;
	top: 2px;
}

.btnAccept {
	width: 40px;
	height: 36px;
	background-size: 40px 72px;	
	background-image: url("images/btn_plus.png");
	float:right;
}
	.btnAccept:active
	{
		position: relative;
		top: 2px;
	}


.btnDecline {
	width: 40px;
	height: 36px;
	background-size: 40px 110px;
	background-image: url("images/btn_navClose.png");
	float:right;
} .btnDecline:active {
	position: relative;
	top: 2px;
}

.addFriendInput {
	margin-top: 45px;
	text-align: center;
}

.btnSend {
	float: right;
	margin: 25px 25px;
	width: 162px;
	height: 69px;
	background-image: url("images/btn_send.png")
} .btnSend:active {
	position: relative;
	top: 2px;
}
.btnBattle {
	display: inline-block;
	position: relative;
	width: 377px;
	height: 150px;
	margin: 5px;
	
} /*.btnBattle:hover {
	top: -5px;
} .btnBattle:active {
	transform: scale(0.95,0.95);
	-ms-transform: scale(0.95,0.95); / * IE 9 * / 
	-webkit-transform: scale(0.95,0.95); / * Safari and Chrome * /
	-o-transform: scale(0.95,0.95); / * Opera * /
	-moz-transform: scale(0.95,0.95); / * Firefox * /
} */ .btnBattleChiefImage {
	position: absolute;
	left: 24px;
	top: 24px;
	width: 100px;
	height: 100px;
} .btnBattleBg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 377px;
	height: 150px;
	vertical-align: top;
	display: inline-block;
} .btnBattleYourTurnImage {
	background-image: url("images/btn_horizontal_green.png");
} .btnBattleWaitingImage {
	background-image: url("images/btn_horizontal_blue.png");
} .btnBattleFinishedImage {
	background-image: url("images/btn_horizontal_gray.png");	
} .btnBattleContent {
	float: right;
	width: 205px;
	height: 120px;
	margin: 10px 30px;
	text-align: Center;
	font-size: 26px;
	text-shadow: 1px -1px 0px #333;
} .btnBattleMap {
	text-align: right;
	font-size: 16px;
} .btnBattleTurn {
	margin-top: 40px;
	font-size: 24px;
	text-align: right;
} .btnBattleResult {
	margin: 20px auto;
	text-align: center;
} .btnBattleVictory {
	width: 202px;
	height: 54px;
	background-image: url("images/battle_victory.png");
} .btnBattleDefeat {
	width: 182px;
	height: 48px;
	background-image: url("images/battle_defeat.png");
}